{% extends 'base.html.twig' %}


{% block body %}
	<div class="media">
		<img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
		<div class="media-body">
			<h1 class="mt-0">{{ program.title }}</h1>
			<p>Synopsis de la série :
				<br>{{ program.synopsis }}</p>
			<p>Catégorie de la série :{{ category.name }}</p>
			<p>numéro de la saison : {{season.number}}</p>

			{% for episode in episodes %}
				{# <a href="{{ path("program_episode_show", { programId: program.id, seasonId: season.id, episodeId: episode.id}) }}"></a> #}
				<p>Episode
					{{ episode.number }}</p>
				<p>{{ episode.title }}</p>
				{{ episode.synopsis }}
			{% endfor %}

		</ul>
	</div>
</div>


<a href="{{ path('program_index') }}">
	Retour à la liste des programmes
</a>{% endblock %}
